[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.15"
opencv-python = "*"
keras = "==2.3.1"
matplotlib = "*"
pydot = "*"
pydotplus = "*"
graphviz = "*"
h5py = "==2.10.0"

[dev-packages]

[requires]
python_version = "3.6"
